/*Fonts*/
@font-face {font-family: 'OpenSansBold'; 
    src: url(open-sans/OpenSans-Bold.ttf);}
@font-face {font-family: 'OpenSansBoldItalic'; 
    src: url(open-sans/OpenSans-BoldItalic.ttf);}
@font-face {font-family: 'OpenSansExtraBold'; 
    src: url(open-sans/OpenSans-ExtraBold.ttf);}
@font-face {font-family: 'OpenSansExtraBoldItalic'; 
    src: url(open-sans/OpenSans-ExtraBoldItalic.ttf);}
@font-face {font-family: 'OpenSansItalic'; 
    src: url(open-sans/OpenSans-Italic.ttf);}
@font-face {font-family: 'OpenSansLight'; 
    src: url(open-sans/OpenSans-Light.ttf);}
@font-face {font-family: 'OpenSansLightItalic';
    src: url(open-sans/OpenSans-LightItalic.ttf);}
@font-face {font-family: 'OpenSansRegular'; 
    src: url(open-sans/OpenSans-Regular.ttf);}
@font-face {font-family: 'OpenSansSemibold'; 
    src: url(open-sans/OpenSans-Semibold.ttf);}
@font-face {font-family: 'OpenSansSemiboldItalic'; 
    src: url(open-sans/OpenSans-SemiboldItalic.ttf);}

/*lato*/
@font-face {font-family: 'Lato-Bla'; 
    src: url(lato/Lato-Bla.ttf);}

/*the others*/
@font-face {font-family: 'Segoe'; 
    src: url(some-others/segoeuil.ttf);}
@font-face {font-family: 'Origin'; 
    src: url(some-others/Origin-Light.ttf);}


body {
    width: 840px;
    margin: 0 auto 10px 70px;/*auto*/
    padding:0;
    height: 100%;
    font-size: 14px;
    /*
    margin:0 auto;
    */
}

.customFontBold{font-family: "OpenSansBold"}
.customFontBoldItalic{font-family: "OpenSansBoldItalic"}
.customFontExtraBold{font-family: "OpenSansExtraBold"}
.customFontExtraBoldItalic{font-family: "OpenSansExtraBoldItalic"}
.customFontExtraBoldItalic{font-family: "OpenSansExtraBoldItalic"}
.customFontItalic{font-family: "OpenSansItalic"}
.customFontLight{font-family: "OpenSansLight"}
.customFontLightItalic{font-family: "OpenSansLightItalic"}
.customFontRegular{font-family: "OpenSansRegular"}
.customFontSemibold{font-family: "OpenSansSemibold"}
.customFontSemiboldItalic{font-family: "OpenSansSemiboldItalic"}

/*lato*/
.customLatoBla{font-family:"Lato-Bla"}
/*the others*/
.customSegoe{font-family:"Segoe"}
.customOrigin{font-family:"Origin"}